:root {
    font-family: 'Silkscreen', cursive;
}

body {
    background-color: #05080F;
}

#title {
    font-family: 'Silkscreen', cursive;
}

#startButton {
    font-family: 'Silkscreen', cursive;
    border: none;
    box-shadow: 0 10px #393D41;
}

#startButton :hover {
    background-color: #4C5257!important;
}

#startButton :active {
    background-color: #4C5257!important;
    box-shadow: 0 4px #26292C!important;
    transform: translateY(6px)!important;
}

#contentCon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}